.red {
    color: red;
}

.bigTitle {
    font-size: 25px;
    margin: 25px auto;
    width: 57%;
}

.pageCube {
    width: fit-content;
    padding: 12px;
    border: 1px solid rgb(232, 229, 220);
    border-radius: 5px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    transition: .5s;
    color: rgb(33, 32, 31);
    background-color: rgba(254, 251, 240);
    font-family: system-ui;
}

.dots {
    width: fit-content;
    padding: 12px;
    border: 1px solid rgb(232, 229, 220);
    border-radius: 5px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: .5s;
    color: rgb(33, 32, 31);
    background-color: rgba(254, 251, 240);
    font-family: system-ui;
}

.currentPage{
    background-color: #cac4b4;
}